<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Memory Game</title>
    <link rel="stylesheet" href="../../src/stylesheets/styles.css">
    <link rel="stylesheet" href="../../src/stylesheets/archive/archive.css">
    <link rel="stylesheet" href="../../src/stylesheets/archive/memorygame.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="warning">
        <p id="warning-text"></p>
        <button id="warning-button"></button>
    </div>
    <div id="success">
        <p id="success-text"></p>
    </div>

    <p id="goback"><a href="../archive.html">< Back to The Archive</a></p>
    <h1>Welcome to The Memory Game</h1>
    <p id="desc">Just like the classic, match the pairs while utilizing your memory!</p>
    <div id="game">

    </div>


    <script src="../../src/javascripts/archive/memorygame.js"></script>
</body>
</html>