<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Archive</title>

    <link rel="stylesheet" href="../public/stylesheets/styles.css" />
    <link rel="stylesheet" href="../public/stylesheets/archive.css" />
    <script src="../public/javascripts/archive.js"></script>
</head>
<body class="dark-mode">
    <h1 id="hero-title">The Archive</h1>
    <div id="packList">
        <div class="pack">
            <a href="../views/index.html">
                <h1>Useless Games</h1>
            </a>
        </div>
    </div>
</body>
</html>