<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Archive</title>

    <link rel="stylesheet" href="../src/stylesheets/styles.css" />
    <link rel="stylesheet" href="../src/stylesheets/archive.css" />
    <script src="../src/javascripts/archive.js"></script>
</head>
<body class="dark-mode">
    <h1 id="hero-title">The Archive</h1>
    <div id="itemList">
        <div class="item item-large">
            <p class="label gradient-special">FEATURED</p>

            <h1>Guess The Size</h1>
            <div class="tag">
                <p>Game</p>
            </div>

            <p>A simple web-game where you are presented with text of a certain size and you have to
            guess the size in pixels.</p>
            <div class="buttonList">
                <button class="button-rounded-dark" onclick="window.location.href = 'archive/guessthesize.html'">Open</button>
                <button class="button-rounded-dark">View Editorial</button>
            </div>
        </div>
        <div class="item item-normal">
            <p class="label">USELESS THINGS</p>

            <h1>Graph Maker</h1>
            <div class="tag">
                <p>Utility</p>
            </div>

            <p>A small web app that takes in .xlsx file formats and parses it into a line graph.</p>
            <div class="buttonList">
                <button class="button-rounded-dark">Open</button>
            </div>
        </div>
        <div class="item item-normal">
            <p class="label">THE PRESTO SHOWCASE</p>

            <h1>Year In Review</h1>
            <div class="tag">
                <p>Showcase</p>
            </div>
            <div class="tag">
                <p>Animation</p>
            </div>

            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <div class="buttonList">
                <button class="button-rounded-dark">Open</button>
                <button class="button-rounded-dark">View Editorial</button>
            </div>
        </div>
        <div class="item item-normal">
            <p class="label">TEST</p>

            <h1>Space filler</h1>
            <div class="tag">
                <p>Debug material</p>
            </div>

            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
            <div class="buttonList">
                <button class="button-rounded-dark">Open</button>
                <button class="button-rounded-dark">View Editorial</button>
            </div>
        </div>
    </div>
</body>
</html>