<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess The Font Size</title>
    <link rel="stylesheet" href="../public/stylesheets/styles.css" />
    <link rel="stylesheet" href="../public/stylesheets/guessthesize.css" />
</head>
<body>
    <h1>Welcome to Guess The Font Size!</h1>
    <div id="game">
        <p>Guess the font size of the text below. It is below 1 & 100</p>
        <div id="gts-text-container">
            <p id="gts-text"></p>
        </div>

        <input type="number" id="GTSinput" placeholder="Enter your guess here!">
        <button class="button-primary" onclick="validate()">Check</button>
    </div>
    <script src="../public/javascripts/guessthesize.js"></script>
</body>
</html>