<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>Prestojam home</title>
    <link rel="stylesheet" href="../public/stylesheets/styles.css" />
    <link rel="stylesheet" href="../public/stylesheets/index.css" />
    <script src="../public/javascripts/main.js"></script>
    <script src="../public/javascripts/layouts/layoutManager.js"></script>
</head>
<!--<nav-bar></nav-bar>-->
<body class="dark-mode">
    <!--Radial gradient at start of page-->
    <div id="radial-gradient"></div>
    <div class="container">
        <!--hero-->
        <div id="hero">
            <div id="feature-tag">
                <p><a id="tag-text" href="../views/archive.html">Featured: The Archive</a></p>
            </div>
            <h1 id="hero-title">This is not a professional company website.</h1>
            <p id="hero-subtitle">The creator of this website wasn't really good at designing styles for non-company websites</p>

            <div style = "height: 50px;"></div>

            <button class="button-primary" onclick="window.location.href = '../views/archive.html'">Teleport to the online archive</button>
        </div>

<!--        <p><i>(If you're here procrastinating,-->
<!--            as much as I enjoy doing so, please get back to your work for the sake of your mental well-being in the-->
<!--            future...)</i></p>-->
        <h2 style="text-align: center">Prestojam map</h2>
        <div class="useful-links">
            <div class="link-box">
                <div class="left">
                    <a href="../views/portfolio.html">About me</a>
                </div>
                <div class="right">
                    <p>Destination: Personal portfolio</p>
                    <p>For those who want to learn more about me. However, beware,
                        for this is a password protected zone.</p>
                </div>
            </div>
            <div class="link-box">
                <div class="left">
                    <a href="../views/portfolio.html">Mysterious...</a>
                </div>
                <div class="right">
                    <p>Destination: Unknown</p>
                    <p>For those who love mysteries but hate getting Rickrolled...</p>
                </div>
            </div>
            <div class="link-box">
                <div class="left">
                    <a href="../views/archive.html">The Archive</a>
                </div>
                <div class="right">
                    <p>Destination: Confusion land</p>
                    <p>Prepare to be confused or get 'why does that exist' moments...</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>