#hero-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;

    /*gradient text*/
    background: linear-gradient(180deg, #ffffff, #949494 130%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto auto 20px;

    align-items: flex-start;

    width: 80%;
    height: fit-content;

    background: transparent;
}
.item {
    border-radius: 5px;
    color: var(--dark-blue-0);
    background: #ffffff;

    min-width: 200px;
    padding: 20px;
    margin: 10px;
}
.item-large {
    max-width: 500px;
}
.item-normal {
    max-width: 300px;
}
.item > h1 {
    font-family: "Space Grotesk", sans-serif;
    text-align: left;
    font-size: 30px;
    margin: 0;
}
.item > .label {
    margin: 5px 5px 5px 0;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
/*Label styles*/
.gradient-special {
    background: linear-gradient(130deg, #ff4833, #ff5c21 130%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tag {
    background: var(--dark-blue-0);
    border-radius: 9999px;
    border: 3px solid rgba(255, 255, 255, 0.33);
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: #ffffff;

    width: fit-content;
}
.tag > p {
    margin: 0;
    font-weight: lighter;
    font-size: 10px;
}