/*Password protection*/
.password-prot {
    margin: auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password-prot > h1 {
    font-family: 'Space Grotesk', monospace !important;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}
.password-prot > p {
    font-family: 'Space Grotesk', monospace !important;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}
input {
    aspect-ratio: 1/1;
    font-family: 'Space Grotesk', monospace !important;
    width: 50px;
    border: var(--dark-blue-0) 2px solid;
    border-radius: 5px;

    text-align: center;
    font-size: 40px;

    -moz-appearance: textfield;
}
/*remove input box number increase and decrease selections*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
