h1 {
    margin: 20px 10px 10px;
}
#warning {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    background: #ff4b4b;
    color: #ffffff;

    position: absolute;
    width: fit-content;

    display: none;
}
#warning > #warning-text {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
}
#warning > #warning-button {
    display: none;
    margin: 10px;
    background: #ffffff;
    color: #ff5353;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;

    border: none;
}
#fullscr {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: #ffffff;

    position: absolute;
    display: none;

    z-index: 5;
}
#centeringDiv {
    margin: auto;
    padding: 0;
}
#fullscr-text {
    font-family: "Space Grotesk", sans-serif;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

#desc {
    max-width: 60%;
    text-align: center;
}
#goback {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;

    color: #ffffff;
    mix-blend-mode: difference;

    position: absolute;
    width: fit-content;
}